# Setup Zotero for MCP_SERVER Paper search
# API_KEY can be generated online from user profile webpage in zotero
# LIBRARY_ID is the number that is within url when clicking library in online explorer: 
#			 <https://www.zotero.org/groups/<library_id>/<library_name>/library>
# COLLECTION_ID is the collection slug (8 characters) within url when clicking collection of library in online explorer: 
#              <https://www.zotero.org/groups/<library_id>/<library_name>/collections/<collection_id>/collection> 
#
# ZOTERO_API_KEY=
# ZOTERO_LIBRARY_ID=
# ZOTERO_COLLECTION_ID=


# Qdrant
QDRANT_URL=http://127.0.0.1
QDRANT_PORT=6333

# Setup Backend_server URL
BACKEND_BASE_URL=http://localhost:10090

# Setup LLM Worker URL
LLM_WORKER_URL=http://127.0.0.1
LLM_WORKER_PORT=9200

# Authentik OAUTH Application
#OAUTH_CLIENT_ID=
#OAUTH_CLIENT_SECRET=
#OAUTH_DISCOVERY_URL= https://<authentik_url>/application/o/<application_name>/.well-known/openid-configuration

# Langfuse
#LANGFUSE_SECRET_KEY=""
#LANGFUSE_PUBLIC_KEY=""
#LANGFUSE_HOST=""

# GPT/Any AI cloud provider credentials
# For ollama: HOST=http://localhost:11434/v1 API_KEY=ollama LLM_MODEL=<ollama_model_name>
# For Nebius: HOST=https://api.tokenfactory.nebius.com/v1/ API_KEY=<API_KEY_EXPORT_FROM_DASHBOARD> LLM_MODEL=<SELECTED_MODEL_FROM_TOKENFACTORY_SLUG>
#
# OPENAI_HOST= 
# OPENAI_API_KEY=
# LLM_MODEL=


# Select the right toolset for the project to run (default SCEPA)
MCP_TOOL_CONFIG_PATH=scepa_tools.json