# Setup Backend_server URL
BACKEND_BASE_URL=http://localhost:10090

# Authentik OAUTH Application
OAUTH_CLIENT_ID=
OAUTH_CLIENT_SECRET=
OAUTH_DISCOVERY_URL=

# Langfuse
LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=
LANGFUSE_HOST=

OPENAI_HOST=
OPENAI_API_KEY=
LLM_MODEL=

# Select the right toolset for the project to run (default SCEPA)
MCP_TOOL_CONFIG_PATH=scepa_tools.json

# MCP Use
MCP_USE_OAUTH=false